{% extends 'base.html.twig' %}

{% block title %}Hello InternController!{% endblock %}

{% block body %}

    <h1> List of Interns </h1>

    <table class="table table-dark">
        <tr>
            <td>Last Name</td>
            <td>First Name</td>
            <td>Sex</td>
            <td>Birth_date</td>
            <td>City</td>
            <td>Mail</td>
            <td>Phone_number</td>
            <td>Details</td>
            <td>Edit</td>
            <td>Delete</td>
        </tr>

        {% for intern in interns %}
            <tr>
                {# here what we put after Inter. is the name of the getter function in Entity/entity.php #}
                <td>{{ intern.lastName }}</td>
                <td>{{ intern.firstName }}</td>
                <td>{{ intern.sex }}</td>
                {# Here we get an error that "Object of class DateTime could not be converted to string" #}
                {# Fixing -> | date("d/m/Y") #}
                <td>{{ intern.birthDate | date("d/m/Y") }}</td>
                <td>{{ intern.city }}</td>
                <td><a href = "mailto: {{ intern.mail }} ">{{ intern.mail }}</a></td>
                <td>{{ intern.phoneNumber }}</td>
                {# Each time we want to call sth with id-> we need call id also in the path #}
                <td><a class="btn btn-info" href="{{path('show_intern', {'id':intern.id})}}"> More </a></td>
                <td><a class="btn btn-warning" href="{{path('edit_intern', {'id':intern.id})}}"> Edit </a></td>
                <td><a class="btn btn-danger" href="{{path('delete_intern', {'id':intern.id})}}"> Delete </a></td>
            </tr>

            {# {% for intern in interns %}
                {# striptags('<br>') -> Allow us to ignore the <br> tag #}
                {# raw -> The raw filter marks the value as being "safe", which means that in an environment with automatic escaping enabled this variable will not be escaped if raw is the last filter applied to it #}
                {# {{intern | striptags('<br>') | raw }}<br> #}
            {# {% endfor %} #}

        {% endfor %}

    </table>
    <br>
    <button><a class="btn bg-transparent" href="{{path('add_intern')}}"> Add an Intern </a></button><br>
 

{% endblock %}
